.mj-check-more {
  width: 1200px;
  height: 618px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 63px 83px 0 125px;
  .detail-message-ul {
    border-bottom: 1px solid #e8e8e8;
  }
  .detail-message {
    color: #000;
    list-style-type: disc;
    margin-bottom: 40px;
    a {
      color: #000;
      margin-left: 10px;
    }
  }
  .message-pagination {
    margin-top: 31px;
  }
}
