.resume-downloaded-content {
  width: 1078px;
  height: 621px;
  background: #fff;
  padding: 0 28px;
  border-radius: 10px;
  .fit-title {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    color: #000;
    line-height: 59px;
  }
  .blank {
    width: 100%;
    height: 50px;
  }
}
